*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
.gadm
.tmp
coverage
node_modules
package-lock.json

# dev
/packages/*/server/*.local.json
/packages/*/server/*.local.js
/packages/schema-design
.vscode
# testing
/coverage
#cache
#/packages/api/temp
#/packages/api/tempFolder
#/packages/*
# production
/build
#/packages/api/client
/packages/*/yarn.lock
/packages/api/server/datasources.local.*
/tmp
/packages/*/.env
# misc
.env.local
.env.development.local
.env.test.local
.env.production.local
yarn.lock

package.json.lerna_backup
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

temp
dump.rdb
report*.json
~$*.xlsx
~$*.xls
~$*.docx
~$*.doc
tmp-test-job.js
test.js
.data

/setup-bundle*
